/* _tools.scss */
.tools-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 0.75rem;   /* controls space above icons */
  margin-bottom: 0.75rem; /* optional */
}

.tool-item {
  display: flex;
  align-items: center; /* vertical centering */
  gap: 0.5rem;
}

.tool-item span {
  text-shadow:
    0 0 2px rgba(255,255,255,0.9),
    0 0 4px rgba(255,255,255,0.6),
    0 2px 3px rgba(0,0,0,0.6),
    0 2px 4px rgba(0,0,0,0.9),
    0 4px 10px rgba(0,0,0,0.7),
    0 4px 4px rgba(0,0,0,0.8);
}

.tool-item img {
  width: 32px;
  height: 32px;
  filter:
    drop-shadow(0 0 2px rgba(255, 255, 255, 0.8))
    drop-shadow(0 2px 3px rgba(0, 0, 0, 0.4));
}
